@import "compass/css3";

$white: #ffffff;
$light: #ededed;
$medium: #dadada;
$dark: #221a26;
$black: #000000;
$gray: #b2b2b2;
$darkGray: #656565;
$blue: #72bdbb;
$darkBlue: #619b98;
$red: #eb584a;
$darkRed: #d24137;
$purple: #724a7f;
$darkPurple: #5a3866;
$turquoise: #3fb7b7;


@mixin media-md {
    @media (max-width: 1200px) {
        @content;
    }
}
@mixin media-sm {
    @media (max-width: 800px) {
        @content;
    }
}
@mixin media-xs {
    @media (max-width: 400px) {
        @content;
    }
}


html {
    height: 100%;
    font-size: 10px;
    line-height: 10px;

    @include media-md {
        font-size: 9px;
        line-height: 9px;
    }

    @include media-sm {
        font-size: 8px;
        line-height: 8px;
    }

    @include media-xs {
        font-size: 7px;
        line-height: 7px;
    }
}

body {
    height: 100%;
    font-size: 1.4rem;
    line-height: 1.333;
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    background-color: $white;
    color: $black;

    &#login-page {
        background-color: $dark;
        color: $white;

        #login-wrapper {
            text-align: center;
            margin: 0;

            .logo {
                margin: 6.0rem 0 6.0rem 0;

                @media (max-height: 300px) {
                    margin: 2.0rem 0 3.5rem 0;
                }
            }

            form {
                position: relative;
                margin: 0 auto;
                width: 20.0rem;

                .error {
                    position: absolute;
                    top: -2.5rem;
                    left: 0rem;
                    right: 0;
                    font-size: 1.2rem;
                    color: $darkRed;
                }

                input[type=text], input[type=password] {
                    display: block;
                    margin: 0;
                    padding: 0.2rem 0.5rem;
                    height: 3.0rem;
                    width: 100%;

                    &.top {
                        border-radius: 0;
                        border-top-left-radius: 0.5rem;
                        border-top-right-radius: 0.5rem;
                    }

                    &.bottom {
                        margin-top: -1px;
                        margin-bottom: 1.0rem;
                        border-radius: 0;
                        border-bottom-left-radius: 0.5rem;
                        border-bottom-right-radius: 0.5rem;
                    }
                }

                input[type=checkbox] + label {

                    &:after {
                        left: 0.1rem;
                    }
                }

                button {
                    width: 100%;
                    margin: 1.0rem 0;
                    padding: 1.5rem;
                    font-size: 1.8rem;
                    color: $white;
                    border-radius: 0.5rem;
                }
            }
        }
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, label, table, tr, td, th, input {
    line-height: 1.333;
    list-style-type: none;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
}

a {
    line-height: 1.333;
    cursor: pointer;
    text-decoration: none;
    color: $black;
}

label {
    font-weight: normal;
}

input, select {
    background-color: $white;
    border-radius: 0.3rem;
    border: 1px solid $gray;
}

input[type=checkbox] {
    display: none;

    & + label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        font-weight: normal;

        &:before {
            content: "";
            height: 1.5rem;
            width: 1.5rem;
            margin: 0 0.7rem 0 0;
            position: relative;
            display: inline-block;
            top: 0.3rem;
            border-radius: 0.3rem;
            border: 1px solid $gray;
            @include background-image(linear-gradient($white, $medium 40%));
            @include single-transition(all, 0.5s, ease);
        }

        &:after {
            content: "\f00c";
            display: none;
            position: absolute;
            left: 0.15rem;
            top: 0.2rem;
            font-family: FontAwesome;
            font-size: 1.3rem;
            color: $darkBlue;
            @include single-transition(all, 0.2s, linear);
        }

        &.error {
            &:before {
                border: 1px solid $darkRed;
                @include box-shadow(0 0 0.3rem 0.3rem $darkRed);
            }
        }
    }

    &:checked + label:after {
        display: inline-block;
    }
}

button {
    text-align: center;
    padding: 0;
    outline: none;

    &.page-button {
        margin: -0.1rem 0.1rem 0 0.1rem;
        min-width: 2.8rem;
        height: 2.8rem;
        background-color: $blue;
        border: none;
        border-radius: 0.4rem;
        color: $white;

        &:hover { 
            background-color: $darkBlue;
        }
    }

    &.page-button-selected {
        background-color: $gray;
        border: none;

         &:hover { 
            background-color: $gray;
        }
    }

    &.big-button {
        height: 3.3rem;
        min-width: 11.1rem;
        color: $white;
        border-radius: 0.4rem;
        font-size: 1.4rem;
        margin: 0 0.5rem 1.0rem 0.5rem;
        padding: 0 0.5rem 0 0.5rem;

        i {
            margin-right: 0.3rem;
        }
    }

    .fa_fix {
        line-height: 1.2rem;
    }

    &.blue:hover { 
        background-color: $darkBlue;
    }

    &.red:hover { 
        background-color: $darkRed;
    }

    &.purple:hover { 
        background-color: $darkPurple;
    }

    &.gray:hover { 
        background-color: $darkGray;
    }
}

div {
    @include box-sizing(border-box);
}

span {

    &.block {
        display: block;
    }
}

.full-width {
    width: 100%;
}

.nomargin {
    margin: 0;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.left {
    margin: 0.5rem 0 0.5rem 0;
    float: left;
    text-align: left;
}

.center {
    margin: 0 auto 0 auto;
    text-align: center;
}

.right {
    margin: 0.5rem 0 0.5rem 0;
    float: right;
    text-align: right;
}

.left-space {
    margin-left: 2.4rem;
}

.blue {
    background-color: $blue;
    border: none;
}

.red {
    background-color: $red;
    border: none;
}

.purple {
    background-color: $purple;
    border: none;
}

.gray {
    background-color: $gray;
    border: none;
}

.banned {
    color: $darkRed;

    a {
        color: $darkRed;
    }
}

.logo {
    margin: 2.0rem 0;
    text-align: center;

    .title {
        font-size: 3.8rem;
        color: $white;
        margin: 0;

        img {
            height: 2.8rem;
            margin: -1.1rem 0.8rem 0 0;
            vertical-align: baseline;
        }
    }

    .subtitle {
        font-size: 1.9rem;
        color: $white;
        margin: -0.8rem 0 0 0;
    }

    .turquoise {
        color: $turquoise;
    }

    @media (max-height: 400px) {
        margin: 1.2rem 0 0.8rem 0;
    }
}

#sidebar {
    position: relative;
    min-width: 20.0rem;
    height: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    background-color: $dark;
    color: $white;

    .menu {
        display: inline-block;
        margin: 0.8rem 0 0 0;
        text-align: left;

        ul {
            margin: 0;
            padding: 0;

            li {
                font-size: 1.8rem;
                padding: 1.2rem 0 1.2rem 0;

                i {
                    margin-right: 0.7rem;
                }

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }

    @media (orientation: portrait) {
        display: none;
    }
}

#main {
    height: 100%;
    overflow: auto;
    padding: 1.0rem;
    background-color: $white;

    @media (orientation: portrait) {
        padding: 1.0rem 0;
    }
}

#topbar {
    position: relative;
    display: none;
    width: 100%;
    margin: -1.0rem 0 0 0;
    background-color: $dark;
    color: $white;
    @include box-sizing(content-box);

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -9999px;
        right: 0;
        @include box-shadow(9999px 0 0 $dark);
    }

    .menu {
        position: relative;
        padding: 1rem;
        width: 100%;

        ul {
            width: 100%;
            margin: 1.4rem 0 1.0rem 0;
            padding: 0;
            display: inline-block;
            text-align: justify;

            li {
                font-size: 1.8rem;
                display: inline-block;
                margin: 0.5rem 0.5rem;
                text-align: center;

                i {
                    margin-right: 0.7rem;
                }

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }

    @media (orientation: portrait) {
        display: inline-block;
    }
}

#header {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: -1.0rem -1.0rem 2.0rem -1.0rem;
    padding: 0 2.0rem 0 0;
    background-color: $light;
    border-bottom: 1px solid $gray;
    @include box-sizing(content-box);

    h1 {
        margin: 1.4rem 0 1.4rem 2.5rem;
        font-size: 2.0rem;
    }

    @media (orientation: portrait) {
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;

        h1 {
            margin: 1.4rem 0 1.4rem 1.5rem;
        }
    }
}

.item {
    display: block;
    width: 100%;
    margin: 1.5rem 0 1.5rem 0;

    .box {
        padding: 1.0rem;
        display: inline-block;

        &.gray {
            background-color: $light;
            border: 1px solid $gray;
        }

        &.full {
            width: 100%;
        }

        .box-label {
            margin: 0;
            font-size: 1.8rem;
            line-height: 1.5rem;
            font-weight: normal;
        }

        .box-content {
            padding: 1.5rem 1.0rem;
        }
    }

    .table-box {
        display: inline-block;
    }

    .box-content-row {
        width: 100%;
        margin: 0.2rem 0;
        display: inline-block;
    }

    .box-content-block {
        margin: 1.0rem 0;
        display: block;
    }
}

table {
    border-collapse: collapse;

    &.form-table {
        display: inline-block;
        margin: 0;

        th, td {
            font-size: 1.4rem;
            text-align: center;
            border: none;
            margin: 0;
            font-weight: normal;
        }

        th {
            height: 2.0rem;
            padding: 1.2rem 0 0 0;
        }

        td {
            height: 3.0rem;
            padding: 0.5rem 0.2rem;
            min-width: 12.0rem;

            &.input-label {
                text-align: right;
                padding: 0 1.0rem 0 0;
                min-width: 10.0rem;
            }

            &.hyphen {
                min-width: 1.4rem;
            }
        }

        input, select {
            width: 12.0rem;
            padding: 0.2rem;

            &.full {
                width: 100%;
            }
        }
    }

    &.data-table {
        width: 100%;
        font-size: 1.4rem;
        border-bottom: 1px solid $darkBlue;

        tr {
            height: 3.0rem;

            &:nth-child(odd) {
                background: $white;
                border-left: 1px solid $darkBlue;
                border-right: 1px solid $darkBlue;
            }

            &:nth-child(even) {
                background: $medium;
                border-left: 1px solid $darkBlue;
                border-right: 1px solid $darkBlue;
            }

            &.header-row {
                background-color: transparent;
                border: none;
            }
        }

        td, th {
            text-align: center;
            padding: 0 0.8rem;

            &.square {
                width: 3.0rem;
                min-width: 3.0rem;
                padding: 0;

                input[type=checkbox] + label {

                    &:before {
                        top: 0.5rem;
                        margin: 0;
                    }

                    &:after {
                        top: 0.4rem;
                        left: 0.1rem;
                    }
                }
            }

            &#selection-dropdown-switch {
                position: relative;

                &.open {
                    border-bottom: 1px solid $blue;

                    #selection-dropdown {
                        display: block;
                        height: auto;
                    }
                }

                #selection-dropdown {
                    display: none;
                    position: absolute;
                    top: 3.0rem;
                    left: 0;
                    z-index: 100;
                    text-align: left;
                    background-color: $blue;
                    border-right: 1px solid $darkBlue;
                    border-bottom: 1px solid $darkBlue;

                    ul {
                        margin: 1.0rem 1.8rem;
                        padding: 0;

                        li {
                            margin: 1.0rem 0;
                            white-space: nowrap;
                        }
                    }
                }
            }

            &.empty {
                background-color: transparent;
                border: none;
            }

            &.break {
                word-break: break-all;
            }

            &.text-left {
                text-align: left;
            }

            &.text-right {
                text-align: right;
            }
        }

        th {
            background-color: $blue;
            border: 1px solid $darkBlue;
            color: $black;
            font-weight: normal;

            a {
                color: $black;
                text-decoration: none;
            }
        }
    }
}

#lightbox-container {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);

    &.visible {
        display: block;
    }

    .loading {
        display: none;
        width: 100%;
        margin: 10rem 0;
        font-size: 8.0rem;
        color: $white;
        text-align: center;
    }

    #lightbox {
        position: relative;
        display: block;
        width: 100%;
        margin: 5rem 0;
        padding: 0;
        background-color: $white;
        border: 1px solid $gray;
        text-align: center;
        @include box-shadow(0px 0px 10px 2px rgba(0,0,0,0.3));

        #lightbox-header {
            position: relative;
            padding: 1.6rem;

            .box-close {
                position: absolute;
                top: 0.9rem;
                right: 1.8rem;
                font-size: 2.8rem;
            }
        }

        #lightbox-content {
            padding: 2.4rem 1.6rem;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;

            .loading {
                display: block;
                margin: 2.5rem 0;
                font-size: 5.0rem;
                color: $black;
            }

            p {
                margin: 1.0rem 0;
            }

            ul {
                margin: 1.0rem 0 1.0rem 0;
                padding: 0;
            }

            table {
                width: 100%;
                margin: -0.6rem 0;
                text-align: left;

                td {
                    padding: 0.6rem 0.4rem;
                    vertical-align: top;

                    ul {
                        margin: 0;
                    }
                }
            }

            textarea {
                height: 14.0rem;
                resize: vertical;
            }
        }

        #lightbox-footer {
            padding: 1.6rem;
            text-align: left;

            button {
                width: 100%;
                margin: 0;
                padding: 1.5rem;
                font-size: 1.8rem;
                color: $white;
                border-radius: 0.5rem;

                &.cancel {
                    width: 60%;
                }

                &.action {
                    width: 37%;
                    float: right;
                }
            }
        }
 
        h1 {
            margin: 0;
            padding: 0;
            font-size: 2.0rem;
            color: $black;
        }
    }
}