html {
  height: 100%;
  font-size: 10px;
  line-height: 10px;
}
@media (max-width: 1200px) {
  html {
    font-size: 9px;
    line-height: 9px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 8px;
    line-height: 8px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 7px;
    line-height: 7px;
  }
}

body {
  height: 100%;
  font-size: 1.4rem;
  line-height: 1.333;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  background-color: white;
  color: black;
}
body#login-page {
  background-color: #221a26;
  color: white;
}
body#login-page #login-wrapper {
  text-align: center;
  margin: 0;
}
body#login-page #login-wrapper .logo {
  margin: 6.0rem 0 6.0rem 0;
}
@media (max-height: 300px) {
  body#login-page #login-wrapper .logo {
    margin: 2.0rem 0 3.5rem 0;
  }
}
body#login-page #login-wrapper form {
  position: relative;
  margin: 0 auto;
  width: 20.0rem;
}
body#login-page #login-wrapper form .error {
  position: absolute;
  top: -2.5rem;
  left: 0rem;
  right: 0;
  font-size: 1.2rem;
  color: #d24137;
}
body#login-page #login-wrapper form input[type=text], body#login-page #login-wrapper form input[type=password] {
  display: block;
  margin: 0;
  padding: 0.2rem 0.5rem;
  height: 3.0rem;
  width: 100%;
}
body#login-page #login-wrapper form input[type=text].top, body#login-page #login-wrapper form input[type=password].top {
  border-radius: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
body#login-page #login-wrapper form input[type=text].bottom, body#login-page #login-wrapper form input[type=password].bottom {
  margin-top: -1px;
  margin-bottom: 1.0rem;
  border-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
body#login-page #login-wrapper form input[type=checkbox] + label:after {
  left: 0.1rem;
}
body#login-page #login-wrapper form button {
  width: 100%;
  margin: 1.0rem 0;
  padding: 1.5rem;
  font-size: 1.8rem;
  color: white;
  border-radius: 0.5rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, label, table, tr, td, th, input {
  line-height: 1.333;
  list-style-type: none;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.4rem;
}

a {
  line-height: 1.333;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

label {
  font-weight: normal;
}

input, select {
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid #b2b2b2;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-weight: normal;
}
input[type=checkbox] + label:before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.7rem 0 0;
  position: relative;
  display: inline-block;
  top: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid #b2b2b2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(40%, #dadada));
  background-image: -webkit-linear-gradient(#ffffff, #dadada 40%);
  background-image: -moz-linear-gradient(#ffffff, #dadada 40%);
  background-image: -o-linear-gradient(#ffffff, #dadada 40%);
  background-image: linear-gradient(#ffffff, #dadada 40%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
input[type=checkbox] + label:after {
  content: "\f00c";
  display: none;
  position: absolute;
  left: 0.15rem;
  top: 0.2rem;
  font-family: FontAwesome;
  font-size: 1.3rem;
  color: #619b98;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input[type=checkbox] + label.error:before {
  border: 1px solid #d24137;
  -webkit-box-shadow: 0 0 0.3rem 0.3rem #d24137;
  -moz-box-shadow: 0 0 0.3rem 0.3rem #d24137;
  box-shadow: 0 0 0.3rem 0.3rem #d24137;
}
input[type=checkbox]:checked + label:after {
  display: inline-block;
}

button {
  text-align: center;
  padding: 0;
  outline: none;
}
button.page-button {
  margin: -0.1rem 0.1rem 0 0.1rem;
  min-width: 2.8rem;
  height: 2.8rem;
  background-color: #72bdbb;
  border: none;
  border-radius: 0.4rem;
  color: white;
}
button.page-button:hover {
  background-color: #619b98;
}
button.page-button-selected {
  background-color: #b2b2b2;
  border: none;
}
button.page-button-selected:hover {
  background-color: #b2b2b2;
}
button.big-button {
  height: 3.3rem;
  min-width: 11.1rem;
  color: white;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  margin: 0 0.5rem 1.0rem 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}
button.big-button i {
  margin-right: 0.3rem;
}
button .fa_fix {
  line-height: 1.2rem;
}
button.blue:hover {
  background-color: #619b98;
}
button.red:hover {
  background-color: #d24137;
}
button.purple:hover {
  background-color: #5a3866;
}
button.gray:hover {
  background-color: #656565;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.block {
  display: block;
}

.full-width {
  width: 100%;
}

.nomargin {
  margin: 0;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.left {
  margin: 0.5rem 0 0.5rem 0;
  float: left;
  text-align: left;
}

.center {
  margin: 0 auto 0 auto;
  text-align: center;
}

.right {
  margin: 0.5rem 0 0.5rem 0;
  float: right;
  text-align: right;
}

.left-space {
  margin-left: 2.4rem;
}

.blue {
  background-color: #72bdbb;
  border: none;
}

.red {
  background-color: #eb584a;
  border: none;
}

.purple {
  background-color: #724a7f;
  border: none;
}

.gray {
  background-color: #b2b2b2;
  border: none;
}

.banned {
  color: #d24137;
}
.banned a {
  color: #d24137;
}

.logo {
  margin: 2.0rem 0;
  text-align: center;
}
.logo .title {
  font-size: 3.8rem;
  color: white;
  margin: 0;
}
.logo .title img {
  height: 2.8rem;
  margin: -1.1rem 0.8rem 0 0;
  vertical-align: baseline;
}
.logo .subtitle {
  font-size: 1.9rem;
  color: white;
  margin: -0.8rem 0 0 0;
}
.logo .turquoise {
  color: #3fb7b7;
}
@media (max-height: 400px) {
  .logo {
    margin: 1.2rem 0 0.8rem 0;
  }
}

#sidebar {
  position: relative;
  min-width: 20.0rem;
  height: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  background-color: #221a26;
  color: white;
}
#sidebar .menu {
  display: inline-block;
  margin: 0.8rem 0 0 0;
  text-align: left;
}
#sidebar .menu ul {
  margin: 0;
  padding: 0;
}
#sidebar .menu ul li {
  font-size: 1.8rem;
  padding: 1.2rem 0 1.2rem 0;
}
#sidebar .menu ul li i {
  margin-right: 0.7rem;
}
#sidebar .menu ul li a {
  color: white;
  text-decoration: none;
}
@media (orientation: portrait) {
  #sidebar {
    display: none;
  }
}

#main {
  height: 100%;
  overflow: auto;
  padding: 1.0rem;
  background-color: white;
}
@media (orientation: portrait) {
  #main {
    padding: 1.0rem 0;
  }
}

#topbar {
  position: relative;
  display: none;
  width: 100%;
  margin: -1rem 0 0 0;
  background-color: #221a26;
  color: white;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#topbar:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 0;
  -webkit-box-shadow: 9999px 0 0 #221a26;
  -moz-box-shadow: 9999px 0 0 #221a26;
  box-shadow: 9999px 0 0 #221a26;
}
#topbar .menu {
  position: relative;
  padding: 1rem;
  width: 100%;
}
#topbar .menu ul {
  width: 100%;
  margin: 1.4rem 0 1.0rem 0;
  padding: 0;
  display: inline-block;
  text-align: justify;
}
#topbar .menu ul li {
  font-size: 1.8rem;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  text-align: center;
}
#topbar .menu ul li i {
  margin-right: 0.7rem;
}
#topbar .menu ul li a {
  color: white;
  text-decoration: none;
}
@media (orientation: portrait) {
  #topbar {
    display: inline-block;
  }
}

#header {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: -1rem -1rem 2rem -1rem;
  padding: 0 2.0rem 0 0;
  background-color: #ededed;
  border-bottom: 1px solid #b2b2b2;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#header h1 {
  margin: 1.4rem 0 1.4rem 2.5rem;
  font-size: 2.0rem;
}
@media (orientation: portrait) {
  #header {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  #header h1 {
    margin: 1.4rem 0 1.4rem 1.5rem;
  }
}

.item {
  display: block;
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
}
.item .box {
  padding: 1.0rem;
  display: inline-block;
}
.item .box.gray {
  background-color: #ededed;
  border: 1px solid #b2b2b2;
}
.item .box.full {
  width: 100%;
}
.item .box .box-label {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.5rem;
  font-weight: normal;
}
.item .box .box-content {
  padding: 1.5rem 1.0rem;
}
.item .table-box {
  display: inline-block;
}
.item .box-content-row {
  width: 100%;
  margin: 0.2rem 0;
  display: inline-block;
}
.item .box-content-block {
  margin: 1.0rem 0;
  display: block;
}

table {
  border-collapse: collapse;
}
table.form-table {
  display: inline-block;
  margin: 0;
}
table.form-table th, table.form-table td {
  font-size: 1.4rem;
  text-align: center;
  border: none;
  margin: 0;
  font-weight: normal;
}
table.form-table th {
  height: 2.0rem;
  padding: 1.2rem 0 0 0;
}
table.form-table td {
  height: 3.0rem;
  padding: 0.5rem 0.2rem;
  min-width: 12.0rem;
}
table.form-table td.input-label {
  text-align: right;
  padding: 0 1.0rem 0 0;
  min-width: 10.0rem;
}
table.form-table td.hyphen {
  min-width: 1.4rem;
}
table.form-table input, table.form-table select {
  width: 12.0rem;
  padding: 0.2rem;
}
table.form-table input.full, table.form-table select.full {
  width: 100%;
}
table.data-table {
  width: 100%;
  font-size: 1.4rem;
  border-bottom: 1px solid #619b98;
}
table.data-table tr {
  height: 3.0rem;
}
table.data-table tr:nth-child(odd) {
  background: white;
  border-left: 1px solid #619b98;
  border-right: 1px solid #619b98;
}
table.data-table tr:nth-child(even) {
  background: #dadada;
  border-left: 1px solid #619b98;
  border-right: 1px solid #619b98;
}
table.data-table tr.header-row {
  background-color: transparent;
  border: none;
}
table.data-table td, table.data-table th {
  text-align: center;
  padding: 0 0.8rem;
}
table.data-table td.square, table.data-table th.square {
  width: 3.0rem;
  min-width: 3.0rem;
  padding: 0;
}
table.data-table td.square input[type=checkbox] + label:before, table.data-table th.square input[type=checkbox] + label:before {
  top: 0.5rem;
  margin: 0;
}
table.data-table td.square input[type=checkbox] + label:after, table.data-table th.square input[type=checkbox] + label:after {
  top: 0.4rem;
  left: 0.1rem;
}
table.data-table td#selection-dropdown-switch, table.data-table th#selection-dropdown-switch {
  position: relative;
}
table.data-table td#selection-dropdown-switch.open, table.data-table th#selection-dropdown-switch.open {
  border-bottom: 1px solid #72bdbb;
}
table.data-table td#selection-dropdown-switch.open #selection-dropdown, table.data-table th#selection-dropdown-switch.open #selection-dropdown {
  display: block;
  height: auto;
}
table.data-table td#selection-dropdown-switch #selection-dropdown, table.data-table th#selection-dropdown-switch #selection-dropdown {
  display: none;
  position: absolute;
  top: 3.0rem;
  left: 0;
  z-index: 100;
  text-align: left;
  background-color: #72bdbb;
  border-right: 1px solid #619b98;
  border-bottom: 1px solid #619b98;
}
table.data-table td#selection-dropdown-switch #selection-dropdown ul, table.data-table th#selection-dropdown-switch #selection-dropdown ul {
  margin: 1.0rem 1.8rem;
  padding: 0;
}
table.data-table td#selection-dropdown-switch #selection-dropdown ul li, table.data-table th#selection-dropdown-switch #selection-dropdown ul li {
  margin: 1.0rem 0;
  white-space: nowrap;
}
table.data-table td.empty, table.data-table th.empty {
  background-color: transparent;
  border: none;
}
table.data-table td.break, table.data-table th.break {
  word-break: break-all;
}
table.data-table td.text-left, table.data-table th.text-left {
  text-align: left;
}
table.data-table td.text-right, table.data-table th.text-right {
  text-align: right;
}
table.data-table th {
  background-color: #72bdbb;
  border: 1px solid #619b98;
  color: black;
  font-weight: normal;
}
table.data-table th a {
  color: black;
  text-decoration: none;
}

#lightbox-container {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
#lightbox-container.visible {
  display: block;
}
#lightbox-container .loading {
  display: none;
  width: 100%;
  margin: 10rem 0;
  font-size: 8.0rem;
  color: white;
  text-align: center;
}
#lightbox-container #lightbox {
  position: relative;
  display: block;
  width: 100%;
  margin: 5rem 0;
  padding: 0;
  background-color: white;
  border: 1px solid #b2b2b2;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
#lightbox-container #lightbox #lightbox-header {
  position: relative;
  padding: 1.6rem;
}
#lightbox-container #lightbox #lightbox-header .box-close {
  position: absolute;
  top: 0.9rem;
  right: 1.8rem;
  font-size: 2.8rem;
}
#lightbox-container #lightbox #lightbox-content {
  padding: 2.4rem 1.6rem;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
}
#lightbox-container #lightbox #lightbox-content .loading {
  display: block;
  margin: 2.5rem 0;
  font-size: 5.0rem;
  color: black;
}
#lightbox-container #lightbox #lightbox-content p {
  margin: 1.0rem 0;
}
#lightbox-container #lightbox #lightbox-content ul {
  margin: 1.0rem 0 1.0rem 0;
  padding: 0;
}
#lightbox-container #lightbox #lightbox-content table {
  width: 100%;
  margin: -0.6rem 0;
  text-align: left;
}
#lightbox-container #lightbox #lightbox-content table td {
  padding: 0.6rem 0.4rem;
  vertical-align: top;
}
#lightbox-container #lightbox #lightbox-content table td ul {
  margin: 0;
}
#lightbox-container #lightbox #lightbox-content textarea {
  height: 14.0rem;
  resize: vertical;
}
#lightbox-container #lightbox #lightbox-footer {
  padding: 1.6rem;
  text-align: left;
}
#lightbox-container #lightbox #lightbox-footer button {
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  font-size: 1.8rem;
  color: white;
  border-radius: 0.5rem;
}
#lightbox-container #lightbox #lightbox-footer button.cancel {
  width: 60%;
}
#lightbox-container #lightbox #lightbox-footer button.action {
  width: 37%;
  float: right;
}
#lightbox-container #lightbox h1 {
  margin: 0;
  padding: 0;
  font-size: 2.0rem;
  color: black;
}
