html {
	font-size: 62.5%;
}

body {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

#sidebar {
	background-color: #221a26;
	color: #ffffff;
	width: 232px;
	height: 100%;
	position: fixed;
	display: inline-block;
}

#top-bar {
	width: 100%;
	height: 64px;
	padding-left: 232px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	background-color: #ededed;
	border-bottom: 1px solid #b2b2b2;
	display: inline-block;
}

#content {
	padding-left: 232px;
    width: 100%;
	height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0;
	background-color: #ffffff;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.8rem;
}

p {
	font-size: 1.4rem;
}

.left {
	margin: 5px 0 5px 0;
	padding-left: 10px;
	float: left;
	text-align: left;
}

.center {
	margin: 0 auto 0 auto;
	text-align: center;
}

.right {
	margin: 5px 0 5px 0;
	padding-right: 10px;
	float: right;
	text-align: right;
}

.logo {
	position: relative;
	font-family: "Lobster", "Helvetica", "Arial", sans-serif;
	margin: 12px 0 12px 24px;
}

.logo img {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 28px;
}

.logo-title {
	position: absolute;
	left: 26px;
	top: 0px;
	margin-left: 9px;
	font-size: 3.0rem;
}

.logo-subtitle{
	position: absolute;
	left: 131px;
	top: 22px;
	color: #3fb7b7;
	font-size: 2.5rem;
}

#sidebar #menu {
	margin-top: 70px;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar li {
	font-size: 1.8rem;
	padding: 12px 16px 12px 24px;
}

#sidebar i {
	margin-right: 15px;
}

#sidebar a {
	color: #FFFFFF;
	text-decoration: none;
}

#top-header {
	margin: 20px 0 10px 25px;
}

.item {
	display: block;
	margin: 20px 10px 10px 20px;
}

.box {
	padding: 10px;
	display: inline-block;
}

.box-label {
	margin: 0;
	font-size: 1.8rem;
	line-height: 1.5rem;
}

.box-content {
	margin: 15px 20px 10px 20px;
}

table {
	border-collapse: collapse;
}

.form-table {
	margin: 0;
}

.form-table td {
	height: 30px;
	font-size: 1.4rem;
	text-align: center;
	border: none;
	margin: 0;
	padding: 0 2px 0 2px;
}

.form-table td.form-label {
	text-align: right;
	padding-left: 30px;
}

.form-table td.form-label:first-child {
	padding: 0 2px 0 2px;
}

input.email {
	width: 196px;
}

select.number {
	width: 64px;
}

select.date {
	width: 98px;
}

input.checkbox {
	margin: 0;
}

.button-group {
	margin-top: 20px;
}

button {
	text-align: center;
	padding: 0px;
}

.big-button {
	height: 33px;
	min-width: 111px;
	color: #ffffff;
	border-radius: 4px;
	font-size: 1.4rem;
	font-weight: bold;
	margin: 0 5px 0 5px;
	padding: 0 5px 0 5px;
}

.big-button i {
	margin-right: 0.3rem;
}

button .fa_fix {
	line-height: 1.2rem;
}

.blue {
	background-color: #72bdbb;
	border: 1px solid #619b98;
}

button.blue:hover { 
	background-color: #619b98;
}

.yellow {
	background-color: #f0ad4e;
	border: 1px solid #eea236;
}

button.yellow:hover { 
	background-color: #eea236;
}

.red {
	background-color: #eb584a;
	border: 1px solid #d24137;
}

button.red:hover { 
	background-color: #d24137;
}

.gray {
	background-color: #ededed;
	border: 1px solid #b2b2b2;
}

button.gray:hover { 
	background-color: #b2b2b2;
}

.data-table-full {
	display: inline-block;
}

.data-table-top {
	height: 27px;
}

.data-table-bottom {
	height: 65px;
}

.data-table-top {
	display: inline-block;
	width: 100%;
}

.data-table-top select {
	width: 52px;
	margin: 0 3px 0 3px;
}

.page-button {
	margin: 0px;
	margin-top: -1px;
	min-width: 26px;
	height: 21px;
	background-color: #72bdbb;
	border: 1px solid #619b98;
	border-radius: 4px;
	color: #ffffff;
}

.page-button:hover { 
	background-color: #619b98;
}

.page-button-selected {
	background-color: #ededed;
	border: 1px solid #b2b2b2;
	color: #000000;
}

.page-button-selected:hover { 
	background-color: #ededed;
}

.data-table {
	font-size: 1.4rem;
	border-bottom: 1px solid #619b98;
}

.data-table tr.header-row {
	background: transparent;
}

.data-table tr {
	height: 30px;
}

.data-table tr:nth-child(2n+2) {
	background: #ffffff;
	border-left: 1px solid #619b98;
	border-right: 1px solid #619b98;
}

.data-table tr:nth-child(2n+3) {
	background: #dadada;
	border-left: 1px solid #619b98;
	border-right: 1px solid #619b98;
}

.data-table td {
	text-align: center;
	padding: 0 8px 0 8px;
}

.data-table td.text-left {
	text-align: left;
}

.data-table td.header {
	border: 1px solid #619b98;
	background-color: #72bdbb;
	color: #000000;
	font-weight: bold;
}

.data-table td.header a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

td.square {
	width: 29px;
	padding: 0;
}

td.wide {
	min-width: 275px;
}

td.medium-plus {
	min-width: 172px;
}

td.medium {
	min-width: 136px;
}

td.medium-minus {
	min-width: 104px;
}

td.narrow {
	min-width: 76px;
}

.left-space {
	margin-left: 24px;
}